.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .search-result {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    color:black;
  }
  
  .add-to-list-button {
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
    background-color: #94B16F;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-list-button:hover {
    background-color: #94B16F;
  }
  
  .add-to-list-button span:first-child {
    margin-right: 5px;
  }
  
  .add-to-list-button span:last-child {
    font-size: 12px;
    margin-left: 5px;
  }
  
  .result-divider {
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid #ccc;
  }
  
  .product-info {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    color:black;
  }