.header{
    height: 55px;
    background-color: #94B16F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-section{
    background-color: red;
    width: 250px;
    margin-left: 20px;

}

.middle-section{
    flex: 1;
    margin-left: 80px;
    margin-right: 80px;
}

.right-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    background-color: blue;
    width: 500px;
}

.Lists{

}