.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.search-result {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  color:black;
}

.add-to-list-button {
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  background-color: #94B16F;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-list-button:hover {
  background-color: #94B16F;
}

.add-to-list-button span:first-child {
  margin-right: 5px;
}

.add-to-list-button span:last-child {
  font-size: 12px;
  margin-left: 5px;
}

.result-divider {
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #ccc;
}

.product-info {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
  color:black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  padding: 20px;
  margin: auto;
  width: 90%;
  max-width: 500px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.register {
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  max-width: 400px; /* or any other maximum width */
  margin-left: auto; /* Centers the element within its container */
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block; /* Ensures margin: auto takes effect */
}

.register:focus {
  border-color: #6658d3;
  box-shadow: 0 0 5px rgba(102,88,211,0.3);
  outline: none;
}

.register-login-button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  height: 40px;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  max-width: 400px; /* or any other maximum width */
  margin: auto; /* Centers the element within its container */
  display: block; /* Ensures margin: auto takes effect */
}

.register-login-button:hover {
  background-color: #45a049;
}



.registerh1 {
  text-align: center;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  max-width: 400px; /* or any other maximum width */
  margin: auto; /* Centers the element within its container */
  display: block; /* Ensures margin: auto takes effect */
  color: #4CAF50;
  padding-top: 15px;
}
