/* Ticket 2 */
.header,
.footer {
  background-color: #94B16F;
}

.header {
  margin-top: 0px;
  position: sticky;
  display: inline-flex;
  width: 100%;
}

.header .logo {
  margin: 20px;
  margin-right: auto; /* Pushes the logo to the far left */
  max-width: 200px;
}
  
.nav {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
}
  
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Display list items horizontally */
}
  
.nav li {
  margin-right: 20px;
}
  
.nav a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Change link color */
}
  
.search-bar,
.user-section {
  margin-left: 20px;
}

.search-bar input[type="text"] {
  font-size: 17px; 
}

.user-section button {
  background-color: #191d13;
  color: #d3dbc8;
  font-size: 20px;
  border-radius: 30%;
  border-style: none;
  padding: 10px;
  cursor: pointer;
}

.footer {
  margin-bottom: 0px;
}

.footer .logo {
  margin: 10px;
  margin-left: 20px;
  max-width: 100px;
}

.copyright {
  float: inline-end;
  margin-right: 20px;
}