html {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #788E5B;
  padding: 10px;
  height: 100%;
}
.features-section {
  text-align: center; /* Center align h3 */
  background-color: #C3E09D;
}

.features-section h3 {
  padding-top: 20px;
  font-size: 25px;
}

.features {
  display:inline-flex; /* Make children inline */
  justify-content: space-between; /* Equally distribute space between children */
  padding: 10px;

}

.features-1,
.features-2,
.features-3 {
  flex: 1; /* Equal width for each section */
  margin: 0 10px; /* Add some spacing between sections */
  text-align: center; /* Center align text within each section */
  background-color: #94B16F;
  border-radius: 10%;
  padding: 20px;
  max-width: 400px;
  font-size: 20px;
  border-style: solid;
  border-color: #788E5B;

}

.features-1 h4, 
.features-2 h4,
.features-3 h4 {
  height: 30%;
}

.features img {
  width: 100%; /* Make images fill their containers */
  max-width: 400px; /* Set a maximum width for the images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10%;
}

.payment-plans {
  text-align: center; /* Center align h3 */
  background-color: #C3E09D;
  margin-bottom: 20px;
}

.plans {
  display: inline-flex;
  margin-bottom: 10px;
  padding: 10px;
}

.payment-plans h3 {
  padding-top: 20px;
  margin-bottom: 20px; /* Add some space below the header */
  font-size: 25px;
}

.producer-plan,
.shopper-plan {
  flex: 1; /* Equal width for both sections */
  margin: 0 10px; /* Add some spacing between sections */
  display: inline-block; /* Display sections side by side */
  vertical-align: top; /* Align sections to the top */
  background-color: #94B16F;
  border-radius: 10%;
  padding: 20px;
  max-width: 450px;
  font-size: 20px;
  border-style: solid;
  border-color: #788E5B;
}

.producer-plan h4,
.shopper-plan h4 {
  text-align: center; /* Center align h4 within each section */
  font-size: larger;
}

.producer-plan .account-features,
.shopper-plan .account-features {
  text-align: left;
}

.producer-plan button,
.shopper-plan button {
  background-color: #191d13;
  color: #d3dbc8;
  font-size: 20px;
  border-radius: 20%;
  border-style: none;
  padding: 10px;
}

.price {
  font-size: 40px;
}