.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-top: 20px;
  
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .search-result {
    text-align: center;
    border: 2px solid var(--light-color2);
    padding: 10px;
    width: 200px;
    font-weight:bold;
    color:var(--dark-color);
    background-color: var(--text-color);
    padding-bottom: 20px;
  }
  
  .add-to-list-button {
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
    background-color: var(--first-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-list-button:hover {
    background-color: var(--first-color-opaque);
  }
  
  .add-to-list-button span:first-child {
    margin-right: 5px;
  }
  
  .add-to-list-button span:last-child {
    font-size: 12px;
    margin-left: 5px;
  }

  .gray-button {
    background-color: var(--light-color3);
    color: var(--light-color);
  }
  
  .result-divider {
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid var(--light-color);
  }

  .product-name {
    font-size: 16px;
    font-weight: bold;
    color:var(--dark-color);
  }
  
  .product-info {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    color:var(--dark-color);
  }